nav{
width: 1260px;
margin: 0 auto;
}

nav:before{
content: '' ;
display: block;
height: 75px;
width: 100%;   
background: #000;
position:absolute;
    left: 0;
    z-index: -1;   
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 50px;
}
ul li{
float:left;
}
ul li a{
color: #fff;
    height: 75px;
    padding:0 75px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 75px;
}
ul li a:hover{
    background: #FF4500	;
}

